* {
    font-family: Inter;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #1E1E26;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f7f6f6;
}

.bgColor {
    background: #022E47;
}
.bg-darkColor {
    background: #1E1E26 !important;
}
.bgActiveSidebar{
    background: #2E2D3D;
}
.textColor {
    color: #022E47;
}
.errorColor {
    color: #E02828;
}

.borderColor {
    border: 1px solid #022E47;
}

/* input{
    background: #FAFAFF;
    border: 3px solid #D6D4D4;

} */

input::placeholder{
font-size: 20px;
font-weight: 400;
color: #BFBFBF;
}
